.mui-bar .mui-title {
	color: #fff;
	font-size: 15px;
	font-family: "微软雅黑";
	display: block;
}

.mui-bar-nav .mui-action-back {
	color: #ffffff;
}

.mui-table-view {
	background: none;
	margin-bottom: 1px;
	margin-top: 0px;
}

.mui-table-view:before {
	height: 0;
}
.mui-table-view:after {
	height: 0;
}

.mui-table-view-cell {
	background: #FFFFFF;
	margin-bottom: 1px;
	font-size: 14px;
}


.mui-table-view-cell:after {
	height: 0;
}

.mui-bar-nav {
	background: #1b99dc;
	box-shadow: none;
}
.mui-bar-back{
	font-size: 25px;
	line-height: 44px; 
	width: 65px;
	height: 44px;
}
.mui-bar-backicon{
	float: left;
}
.mui-bar-backfont{
	font-size: 14px;
	width: 40px;
	height: 44px; 
	float: left;
	margin-left: 5px;
}
.mui-title{
	position: absolute; 
	z-index: -1;
}
.touch-action{
	touch-action: none;
}
.cg{
	color: grey;
}

input {
				font-size: 1rem;
			}